<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>Everon Test GUI</title>
</head>
<body>
    
    <p>Hello EVERON GPIO OUT Test world</p>
    <div style="display:flex;">
        <div>
        <button class="btn btn-primary btn-lg" onclick="btn_test(device_enum.door_01, 'on')">CH_01 Start</button>
        <P></P>
        <button class="btn btn-primary btn-lg" onclick="btn_test(device_enum.door_01,'off')">CH_01 Stop</button>
        <P></P>
        <button class="btn btn-primary btn-lg" onclick="btn_test(device_enum.door_02, 'on')">CH_02 Start</button>
        <P></P>
        <button class="btn btn-primary btn-lg" onclick="btn_test(device_enum.door_02,'off')">CH_02 Stop</button>
        <P></P>
        <button class="btn btn-primary btn-lg" onclick="btn_test(device_enum.fan_01, 'on')">CH_03 Start</button>
        <P></P>
        <button class="btn btn-primary btn-lg" onclick="btn_test(device_enum.fan_01,'off')">CH_03 Stop</button>
        <P></P>
        </div>

    
        <table class="table table-striped">
            <tr>
                <td>CH_01_Voltage</td>
                <td id="DOOR_01"></td>
            </tr>
            <tr>
                <td>CH_01_PWM</td>
                <td id="DOOR_02"></td>
            </tr>
            <tr>
                <td>CH_02_Voltage</td>
                <td id="DSEN_01"></td>
            </tr>
            <tr>
                <td>CH_02_PWM</td>
                <td id="DSEN_02"></td>
            </tr>
            <tr>
                <td>CH_03_Voltage</td>
                <td id="MC_01"></td>
            </tr>
            <tr>
                <td>CH_03_PWM</td>
                <td id="MC_02"></td>
            </tr>
            <tr>
                <td>Total</td>
                <td id="RELAY_01"></td>
            </tr>
            <tr>
                <td>Voltage</td>
                <td id="RELAY_02"></td>
            </tr>
            <tr>
                <td>Current</td>
                <td id="RELAY_03"></td>
            </tr>
        </table>
    </div>
    
    <script>
        var device_enum = {"door_01":0, "door_02":1, "fan_01":2, "fan_02":3, "mc_01":4, "mc_02":5, "relay_01_02":6, "relay_03_04":7, "relay_05_06":8, 
        "r_led_01":9, "g_led_01":10, "b_led_01":11, "r_led_02":12, "g_led_02":13, "b_led_02":14, 
        "status_led_01":15, "status_led_02":16, "status_led_03":17, "status_led_04":18, "fault_led":19
        }

        function btn_test(device_id, command) {
            $.ajax({
                url: "http://localhost:5000/gpio_out/" + device_id + "/" + command,
                type: 'GET'
                });
            }
        
            get_gpio_in();

        var interval_timer = 1000;

        
        setInterval(function () {
            get_gpio_in()
        }, interval_timer);

        function get_gpio_in() {
            $.ajax({
                url: 'http://localhost:5000/gpio_in/update',
                type: 'GET',
                contentType: 'javascript/json; charset=utf-8',
                data: {},
                dataType: 'json',
                success: function (data) {
                    document.querySelector('#DOOR_01').innerHTML = data['DOOR_01'];
                    document.querySelector('#DOOR_02').innerHTML = data['DOOR_02'];
                    
                    document.querySelector('#DSEN_01').innerHTML = data['DSEN_01'];
                    document.querySelector('#DSEN_02').innerHTML = data['DSEN_02'];

                    document.querySelector('#MC_01').innerHTML = data['MC_01'];
                    document.querySelector('#MC_02').innerHTML = data['MC_02'];
                    
                    document.querySelector('#RELAY_01').innerHTML = data['RELAY_01'];
                    document.querySelector('#RELAY_02').innerHTML = data['RELAY_02'];
                    document.querySelector('#RELAY_03').innerHTML = data['RELAY_03'];

                    //document.querySelector('#RELAY_04').innerHTML = data['RELAY_04'];
                    //document.querySelector('#RELAY_05').innerHTML = data['RELAY_05'];
                    //document.querySelector('#RELAY_06').innerHTML = data['RELAY_06'];
                    //document.querySelector('#EMERGENCY').innerHTML = data['EMERGENCY'];
                },
                timeout: 5000
            });
        }

    </script>
</body>
</html>